.modal {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
}

.modal_content {
    text-align: center;
    background-color: rgb(87, 84, 84);
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
}

@media (max-width: 500px) {
    .modal_content {
        width: 50%;
        display: flex;
        flex-direction: column;
        top: unset;
        left: unset;
    }

    .modal {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}

.noButton {
    color: #ffffff !important;
    border: solid !important;
    border-color: #fff !important;
    border-width: 3px !important;
    border-radius: 10px !important;
    background: rgba(209, 137, 152, 0.6) !important;
    margin: 10px !important;
}

.yesButton {
    color: #ffffff !important;
    border: solid !important;
    border-color: #fff !important;
    border-width: 3px !important;
    border-radius: 10px !important;
    background: rgba(137, 209, 161, 0.849) !important;
    margin: 10px !important;
}

.popUpHeader {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
