.profileWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom,#609CA9, #FFF);
  height: 100%;
}

.profileHeader {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  line-height: normal;
  font-weight: bold;
  color: #FFF;
  font-style: bold;
  margin-bottom: 40px;
}

.ui.button.startButton {
  color: #FFFFFF !important;
  border: solid !important;
  border-color: #FFF !important;
  border-width: 3px !important;
  border-radius: 10px !important;
  background:  rgba(209, 137, 152, 0.6) !important;
  margin: 10px !important;
}

.ui.button.highscoreButton {
  color: #FFFFFF !important;
  border: solid !important;
  border-color: #FFF !important;
  border-width: 3px !important;
  border-radius: 10px !important;
  background:  rgba(103, 101, 101, 0.6) !important;
  margin: 10px !important;
}

.ui.button.logOutButton {
  color: #FFFFFF !important;
  border: solid !important;
  border-color: #FFF !important;
  border-width: 3px !important;
  border-radius: 10px !important;
  background:  rgba(96, 156, 169, 0.6) !important;
  margin: 10px !important;
}